* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.icon-color {
    color: #B1B1B1;
}

div#app{
    height: 100vh;
    width: 100%;

    background: linear-gradient(to bottom, #009688 0px, #009688 15vh,
    #dddbd1 15vh, #d2dbdc 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    height: 94%;
    width: 80%;
}

/*User Section*/

main section.userbar{
    width: 35%;
    background-color: #ffffff;
}

section div.user-profile{
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.user-profile .user-info {
    display: flex;
    align-items: center;
}

.user-profile .user-info img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: .5rem;
}

.user-profile .user-info .name-user {
    font-size: .9rem;
}

.user-profile .user-profile-icon i {
    margin-right: .8rem;
}

/*Notify Section*/

section.userbar div.notifications{
    height: 80px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: 1rem;
}

section.userbar div.notifications .notify-icon {
    background-color: #F2FBFF;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

section.userbar div.notifications .notify-icon i {
    padding: .6rem;
    color: #8edafc;
}

section.userbar div.notifications .notify-info {
    font-size: .8rem;
    margin-left: .8rem;
}

/*SearchBar Section*/

section.userbar div.searchbar{
    height: 50px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    padding: 1rem;
}

div.searchbar .input-button button {
    margin-right: .2rem;
    padding: .2rem 1.5rem;
    background-color: #fafafa;
}

div.searchbar input {
    padding: .2rem 0;
    width: 90%;
    color: #B1B1B1;
}

/*Conctacts Section*/

section.userbar div.contacts{
    /*height: calc(100% - 210px);*/
    background-color: #ffffff;
}
/*
<div class="contacts">
    <div class="contacts-info-container">
        <img src="./img/avatar_2.jpg" alt="user photo profile">
        <div class="contacts-name-info">
            <span class="name-contact">Francesco</span>
            <span class="last-message">
                Ultimo messaggio inviato
            </span>
        </div>
    </div>
</div>
*/
.contacts-info-container {
    display: flex;
    /*background-color: #E8EBEB;*/
    padding: .8rem;
    border-top: 1px solid lightgray;
}

.contacts-info-container img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: .8rem;
}

.contacts-info-container .contacts-name-info {
    display: flex;
    flex-direction: column;
}

.contacts-info-container .contacts-name-info .name-contact {
    font-size: .9rem;
    margin-bottom: 5px;
}

.contacts-info-container .contacts-name-info .last-message {
    font-size: .7rem;
    color: gray;
}



/*contacts of chat*/

main section.conversation-container{
    width: 65%;
    background-color: #eaeaea;
}

.user-info .user-name-info {
    display: flex;
    flex-direction: column;
}

.last-access {
    font-size: .6rem;
    color: grey;
}

/*Messages section*/
div.messages{
    height: calc(100% - 145px);
    background-image: url('../img/mine.jpg');
    padding: 2rem;
}

div.messages > article.message{
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    margin: 0 2rem .8rem 2rem;
    background-color: #8edafc;
    clear: both;
}

div.messages > article.message.received{
    float: left;
    background-color: #ffffff;
    margin-right: 5rem;
}

div.messages > article.message.sent{
    float: right;
    background-color: #d5f9ba;
    margin-left: 5rem;
}

main section.conversation-container div.message-input{
    height: 75px;
    background-color: #f3eeea;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.clearflix::after{
    display: block;
    clear: both;
    content:'';
}