* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.icon-color {
    color: #B1B1B1;
}

.icon-color:hover {
    color: #8b8b8b;
}

div#app{
    height: 100vh;
    width: 100%;

    background: linear-gradient(to bottom, #009688 0px, #009688 15vh,
    #dddbd1 15vh, #d2dbdc 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    height: 94%;
    width: 80%;
}

/*User Section*/

main section.userbar{
    width: 35%;
    background-color: #ffffff;
}

section div.user-profile{
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.user-profile .user-info {
    display: flex;
    align-items: center;
}

.user-profile .user-info img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: .5rem;
}

.user-profile .user-info .name-user {
    font-size: .9rem;
}

.user-profile .user-profile-icon i {
    margin-right: .8rem;
}

/*Notify Section*/

div.notifications{
    height: 80px;
    background-color: #8edafc;
    display: flex;
    align-items: center;
    padding: 1rem;
}

div.notifications .notify-icon {
    background-color: #F2FBFF;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

div.notifications .notify-icon i.fa-bell {
    padding: .75rem;
    color: #8edafc;
}

div.notifications .notify-icon i.fa-bell-slash {
    padding: .6rem;
    color: #8edafc;
}

div.notifications .notify-info {
    font-size: .8rem;
    margin-left: .8rem;
}

/*SearchBar Section*/

section.userbar div.searchbar{
    height: 50px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    padding: 1rem;
}

div.searchbar .input-button button {
    margin-right: .2rem;
    padding: .2rem 1.5rem;
    background-color: #fafafa;
}

div.searchbar input {
    padding: .2rem 0;
    width: 90%;
    color: #B1B1B1;
}

/*Conctacts Section*/

section.userbar div.contacts{
    height: calc(100% - 210px);
    overflow: auto;
    background-color: #ffffff;
}

.contacts-info-container {
    display: flex;
    /*background-color: #E8EBEB;*/
    padding: .8rem;
    border-top: 1px solid lightgray;
}

.contacts-info-container:last-child {
    border-bottom: 1px solid lightgray;
}

.contacts-info-container img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: .8rem;
}

.contacts-info-container .contacts-name-info {
    display: flex;
    flex-direction: column;
}

.contacts-info-container .contacts-name-info .name-contact {
    font-size: 1rem;
    margin-bottom: 5px;
}

.contacts-name-info .last-message {
    font-size: .8rem;
    color: gray;
}



/*contacts of chat*/

main section.conversation-container{
    width: 65%;
    background-color: #eaeaea;
}

.user-info .user-name-info {
    display: flex;
    flex-direction: column;
}

.last-access {
    font-size: .6rem;
    color: grey;
}

/*Messages section*/

div.message-room{
    height: calc(100% - 145px);
    overflow: auto;
    background-image: url('../img/mine.jpg');
}

.message {
    width: 100%;
    min-height: 4rem;
    display: flex;
    align-items: center;
    margin: 0.5rem auto;
}

.message p {
    width: calc(100% - 5rem);
}

.userMessage {
    width: 30%;
    min-height: 3rem;
    background-color: #ffffff;
    border-radius: 0.6rem;
    margin-left: 4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;

}

.contactMessage {
    width: 30%;
    min-height: 3rem;
    background-color: #d5f9ba;
    border-radius: 0.6rem;
    margin-left: auto;
    margin-right: 4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
}

.msgActions {
    height: 60px;
    width: 95px;
    color: #838383;
    font-size: 1rem;
    background-color: #ffffff;
    position: absolute;
    left: 150px;
    top: 50px;
    padding:  1rem .4rem;
    border-radius: 10px;
    /*shadow*/
    box-shadow: 3px 2px 17px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 2px 17px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 2px 17px -8px rgba(0, 0, 0, 0.75);
}

.dateMsg{
    color: #838383;
    font-size: 0.5rem;
}

.message .icon{
    width: 1.5rem;
    padding: auto 0;
    text-align: center;
    margin:0;
}

.invisible {
    display: none;
}

/*input mesaggi*/

main section.conversation-container div.message-input{
    height: 75px;
    background-color: #f3eeea;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.messageInput {
    width: 85%;
    height: 2rem;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

