<!DOCTYPE html>
<html lang="en">
<head>
    <!--Link Css-->
    <link rel="stylesheet" href="./css/style.css">
    <!--Link FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
        <main class="flex">
            <section class="userbar flex  flex-column">
                <div class="user-profile">
                    <!--Foto/Nome--Icone-->
                    <div class="user-info">
                        <img src="./img/avatar_3.jpg" alt="user photo profile">
                        <span class="name-user">Alessandro</span>
                    </div>
                    <div class="user-profile-icon">
                        <i class="fa-solid fa-circle-notch icon-color"></i>
                        <i class="fa-solid fa-message icon-color"></i>
                        <i class="fa-solid fa-ellipsis-vertical icon-color"></i>
                    </div>
                </div>
                <!--Sezione on/off notifiche-->
                <div class="notifications">
                    <div class="notify-icon" @click="notifyAlert()">
                        <i v-if="!notification" class="fa-solid fa-bell-slash notify "></i>
                        <i v-if="notification" class="fa-solid fa-bell notify"></i>
                    </div>    
                    <div class="notify-info">
                            <h4>Ricevi notifiche di nuovi messaggi</h4>
                            <p v-if="notification">Attiva notifiche desktop</p>
                            <p v-if="!notification">Disattiva notifiche desktop</p>
                    </div>
                </div>
                <!--Tasto cerca/Barra di ricerca-->
                <div class="searchbar">
                    <div class="input-button">
                        <button>
                            <i class="fa-solid fa-magnifying-glass icon-color"></i>
                        </button>
                    </div>
                    <input v-model="searchName" class="searchInput" @keyup="searchChat" type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
                <div class="contacts">
                        <div v-for="(person ,i) in contacts " @click="selectChat(i)" class="contactCard contacts-info-container"
                            :class="{activeCard: counter == i, invisible: person.visible == false}">
                            <img :src="person.avatar" alt="">

                            <div class="contactData flexStart contacts-name-info">
                                <span class="name-contact">{{person.name}}</span>
                                <span class="last-message" v-if="person.messages.length">{{person.messages[(person.messages.length) - 1].message}}</span>
                            </div>
                            <!--
                                <h6 v-if="person.messages.length" class="dateUp">{{person.messages[(person.messages.length) - 1].date}}</h6>
                            -->
                        </div>
                </div>
            </section>
            <section class="conversation-container flex flex-column">
                <div class="user-profile">
                        <div class="user-info">
                            <img :src="contacts[counter].avatar" alt="">
                            <div class="user-name-info">
                                <span class="name-user">{{contacts[counter].name}}</span>
                                <span class="last-access" v-if="contacts[counter].messages.length">
                                    ultimo messaggio: {{contacts[counter].messages[(contacts[counter].messages.length)-1].date}}
                                </span>
                            </div>
                        </div>
                        <div class="user-profile-icon">
                            <i class="fa-solid fa-magnifying-glass icon-color"></i>
                            <i class="fa-solid fa-paperclip icon-color"></i>
                            <i class="fa-solid fa-ellipsis-vertical icon-color"></i>
                        </div>
                </div>
                <div class="message-room">
                    <div v-for="(texts, i) in contacts[counter].messages" class="message">
                        <div :class="texts.status == 'received' ? 'userMessage' : 'contactMessage' ">

                            <p v-if="texts.message.length">{{texts.message}}</p>

                            <p class="dateMsg" v-if="infoCheck == i">{{texts.date}}</p>

                            <i @click="openSel(i)" class="fa-solid fa-ellipsis-vertical icon"></i>

                            <div class="msgActions invisible ">
                                <h6 @click="dateToggle(i)">Message info</h6>
    
                                <h6 @click="deleteMsg(i)">Delete message</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="message-input">
                    <i class="fa-solid fa-face-smile icon icon-color"></i>
                    <input v-model="toSend" @keyup.enter="addMessage" class="messageInput" type="text" placeholder="Scrivi un messaggio...">
                    <i class="fa-solid fa-microphone icon icon-color"></i>
                </div>
            </section>
        </main>
    </div>
    
    <!--Link Js-->
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>
</html>